{% extends "main/base.html" %}
{% block content %}
    <h2>View forms: </h2>
    {% if forms %}
        <ul class="list-group">
            {% for form in forms %}
                  <li class="list-group-item">
                      {{ forloop.counter }}. Company: {{ form.company }} | Established at: {{ form.established_at }} | <a href="{% url 'form-details' form.id %}">View Details</a> | <a href="{% url 'form-update' form.id %}">Update</a> | <a href="{% url 'invoice-create' form.id %}">Add VAT Invoice</a>
                  </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not found any form</p>
    {% endif %}
{% endblock content %}